<style>
  .f-info {
    height: 8rem;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 2rem;
  }

  .f-info-socials a {
    text-decoration: none;
    margin: 0 0.8rem;
  }

  .f-info-socials i {
    font-size: 1.8rem;
    color: #555;
    transition: all 0.3s ease;
  }

  .fa-square-facebook:hover {
    color: #1877f2;
  }

  .fa-square-instagram:hover {
    color: #e1306c;
  }

  .fa-linkedin:hover {
    color: #0077b5;
  }

  .f-info-brand {
    font-size: 1.1rem;
    color: #222;
    font-weight: 500;
  }

  .f-info-links a {
    text-decoration: none;
    color: #555;
    margin: 0 0.7rem;
  }

  .f-info-links a:hover {
    color: #fe424d;
  }
</style>

<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.facebook.com/share/1Cx3XcsM9g/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-square-facebook"></i>
      </a>

      <a href="https://www.instagram.com/faiu_09" target="_blank">
        <i class="fa-brands fa-square-instagram"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/fayaz-patel-b51ab72bb"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <div class="f-info-brand">&copy; Wonderlust Private Limited</div>

    <div class="f-info-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Setup</a>
      <a href="git #">Company Details</a>
    </div>
  </div>
</footer>
